<%- include("./layouts/header"); -%>

    <h1>
        <%=val %>
    </h1>
    <div style="width: 50%; margin: auto;">
        <table class="table">
            <thead>
                <tr>
                    <th>SUBJECT</th>
                    <th>MARKS OBTAINED</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>pHYSICS</th>
                    <td>80</td>
                </tr>
                <tr>
                    <th>Chemistry</th>
                    <td>80</td>
                </tr>
                <tr>
                    <th>mathematics</th>
                    <td>80</td>
                </tr>
                <tr>
                    <th>computer</th>
                    <td>80</td>
                </tr>
            </tbody>
        </table>
    </div>
    <%- include("./layouts/footer"); -%>