<%- include("../adminlayout/admin_header"); -%>
    <div class="center">
        <h1>Here is detail of registration...</h1>
    </div>
    <table class="table table-striped alignmiddle">
        <thead>
            <tr>
                <th>student name</th>
                <th>mobile number</th>
                <th>Registration Status</th>
            </tr>
        </thead>

        <tbody>

            <tr>


            </tr>

        </tbody>
        <% } %>
    </table>

    <%- include("../adminlayout/admin_footer"); -%>